@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button-container-1 {
    position: absolute;
    top: 34rem;
    left: 190rem;
    width: 250px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px #bfbfc0 solid;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 59% 41% 60% 40% / 15% 74% 26% 85%;
}
.button-container-1 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #504f4f;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #ffffff;
    cursor: none;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.button-container-2 {
    position: absolute;
    top: 34rem;
    left: 210rem;
    width: 250px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px #bfbfc0 solid;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 82% 18% 70% 30% / 28% 67% 33% 72% ;
}
.button-container-2 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #504f4f;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #ffffff;
    cursor: none;
    -webkit-animation: ani2 1s steps(29) forwards;
    animation: ani2 1s steps(29) forwards;
}
.button-container-2 button:hover {
    -webkit-animation: ani 1s steps(29) forwards;
    animation: ani 1s steps(29) forwards;
}

.mas {
    position: absolute;
    color: #bfbfc0;
    text-align: center;
    width: 101%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin-top: 36px;
    overflow: hidden;
    font-weight: bold;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
a {
    color: #00ff95;
}

.button-container-3 {
    position: absolute;
    top: 44rem;
    left: 190rem;
    width: 250px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px #bfbfc0 solid;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 58% 42% 73% 27% / 13% 84% 16% 87% ;
}
.button-container-3 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #504f4f;
    -webkit-mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    mask: url("https://raw.githubusercontent.com/pizza3/asset/master/natureSmaller.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: #fff;
    cursor: none;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
}
.button-container-3 button:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
}

.button-container-4 {
    background: #504f4f;
    position: absolute;
    top: 44rem;
    left: 210rem;
    width: 250px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
    overflow: hidden;
    border: 1px #bfbfc0 solid;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 58% 42% 73% 27% / 13% 84% 16% 87% ;
}
.button-container-4 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #3c393d;
    -webkit-mask: url("../assets/img/nature-sprite-reverse.png");
    mask: url("../assets/img/nature-sprite-reverse.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #bfbfc0;
    cursor: none;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.button-container-4 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.button-container-4 .mas {
    color: #ffffff;
}