@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.email {
    margin-left: 95vw;
    font-family: "La Belle Aurore", sans-serif;
    letter-spacing: 2px;
    /*margin-bottom: 50vh;*/
    /*position: absolute;*/
}