.slide {
    width: 100vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 200vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display:none;
}
.project {
    background: linear-gradient(180deg, #3c393d 5%,rgba(0,0,0,0) 50%, #3c393d 100%);
}

.one {
    background: linear-gradient(#3c393d,var(--bg)) ;
}
.three {
    background: linear-gradient(#343232,#3c393d) ;
}
.four {
    background: linear-gradient(#343232,#3c393d) ;
}