.waviy {
    position: relative;
    top: 15rem;
    left: 65%;
}
.waviy span{
    position: relative;
    display: inline-block;
    letter-spacing: -5px;
    animation: flip 4s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%,10% {
        transform: rotateY(360deg)
    }
}


.arrow {
    border: solid #8d8d8d;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-bottom: 2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.vertical-writing {
    writing-mode: vertical-rl;
    margin: 0 0 5px 0;
}

.nav-down {
    position: absolute;
    height: 340px;
    top: 120vh;
    left:98%;
    bottom:0;
    margin: auto;
    text-align:center;
}


.chevron {
    display:block;
    width: 24px;
    height: 24px;
    margin:-20px auto 30px auto;
    animation: pulse 2s infinite;
    display:block;
    color: #fff;
    opacity: 0;
}

@keyframes pulse {
    0% {
        transform: translate(0, 0);
        opacity: 0.5;
    }

    50% {
        transform: translate(0, 10px);
        opacity: 0.99;
    }

    100% {
        transform: translate(0, 0);
        opacity: 0;
    }
}