@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
@font-face {
    font-family: "Monument Extended";
    src: url("../css/MonumentExtended-Ultrabold.otf") format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    /*outline: 3px solid green;*/
}

h1, p, h2, h3, h4, ul, li, div {
    margin: 0;
    padding: 0;
}

body {
    background: #0d0d0d;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    font-family: Roboto;
}

.loading-page {
    background: #0d0d0d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-page .counter {
    text-align: center;
}
.loading-page .counter p {
    font-size: 40px;
    font-weight: 100;
    color: #f60d54;
}
.loading-page .counter h1 {
    color: white;
    font-size: 60px;
    margin-top: -10px;
}
.loading-page .counter hr {
    background: #f60d54;
    border: none;
    height: 1px;
}
.loading-page .counter {
    position: relative;
    width: 200px;
}
.loading-page .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%;
}
.loading-page .counter .color {
    width: 0px;
    overflow: hidden;
    color: #f60d54;
}

#afterloader {
    height: 100vh;
    width: 100vw;
    position: absolute;
    opacity: 0;
    animation-delay: 6s;
    animation-name: fadein;
    animation-duration: 4s;
    /*-webkit-animation: fadein 12s; !* Safari, Chrome and Opera > 12.1 *!*/
    /*animation: fadein 12s;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.description {
    text-align: justify;
    margin: 20rem 0 0 9rem;
    color: #fff;
    position: absolute;
    width: 32rem;
}

.title {
    color: #fff;
    margin: 4rem 0 0 50vw;
    position: absolute;
}
.first_data {
    font-family: "Monument Extended" , sans-serif;
}

.about {
    color: #fff;
    height: 100%;
    width: 100%;
    background: #3c393d;
}