/* Non essential CSS - Just for example centering */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.center-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.center-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

/* Essential CSS - Makes the effect work */

body {
  background-color: #3498db;
}

.bubbles {
  display: inline-block;
  font-family: arial;
  position: relative;
}

.bubbles h1 {
  position: relative;
  margin: 1em 0 0;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  z-index: 2;
}

.individual-bubble {
  position: absolute;
  border-radius: 100%;
  bottom: 10px;
  background-color: #fff;
  z-index: 1;
}
::-webkit-scrollbar {
  display: none;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 -50px 0 0!important;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
.img-holder {
  flex-grow:1;
  margin: 0.3rem;
  overflow: hidden;
}

.img-holder img {
  display: block;
  min-width: 100%;
  /*max-height: 30rem;*/
  object-fit: cover;
  transition-duration: 300ms;
}
.img-holder_2 img {
  display: block;
  min-width: 100%;
  max-height: 25rem;
  object-fit: cover;
  transition-duration: 300ms;
}

.img-holder img:hover {
  transform: scale(1.1);
}
