:root {
    /* Circle Width */
    --circle-diameter: 300px;
}

.google-map {
    position: relative;
    display: flex;
    /*top: 5%;*/
    justify-content: center;
    align-items: center;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    overflow: hidden;
    border-radius: var(--circle-diameter);
    transition: 5000ms;
    /*cursor: grab;*/
}

.google-map .map-frame {
    width: 100vw;
    height: 50vh;
}

.google-map iframe {
    position: absolute;
    width: 100vw;
    height: 50vh;
    pointer-events: visibleStroke;
}

.google-map:hover {
    width: 100vw;
    height: 50vh;
    border-radius: 0;
}
#form {
    height: 40%;
    min-height: 40%;
    padding: 50px 25px;
}

#form .contain{
    max-width: 1900px;
    min-height: 600px;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 50px -10px rgba(35, 34, 34, 0.8);
    background-color: rgba(35, 34, 34, 0.8);
}

#form .contain .title {
    text-align: center;
    margin-bottom: 60px;
}
.h6{
    font-family: 'Titillium Web', sans-serif;
    padding-top: 70px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
#form .contain .title h3{
    font-size: 2.8em;
    color: #fff;
}

#form .contain form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#form .contain form input {
    width: 45%;

}
#form .contain form input,
#form .contain form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #0346fc;
    background:rgba(35, 34, 34, 0.8);
    transition: 0.2s;
    cursor: none;
    color: #fff;
}
#form .contain form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;

}

#form .contain form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #0346fc;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    cursor: none;
    margin: 0 auto;
    transition: 0.2s;
}
#form .contain form button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px 0 rgba(72, 70, 70, 0.8);
}

@media screen and (max-width: 500px) {
    #form .contain form {
        flex-direction: column;
        width: 95%;
    }
    #form .contain form input{
        width: 100%;
    }
    #form .contain .title h6{
        font-size: 1em;
    }
    #form .contain .title h3{
        font-size: 2em;
    }

}
@media screen and (max-width: 1600px) {
    #form {
        padding: 30px;
    }
    #form .contain{
        padding: 10px;
    }
    h6 {
        font-size: 1em;
    }
    h3 {
        font-size: 2em;
    }
}

.btnOutline {
    display: block;
    text-decoration: none;
    color: #0346fc;
    border: 2px solid #0346fc;
    border-radius: 6px;
    width: 250px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.btnOutline:hover {
    color: white;
    background: #0346fc;
}
