:root {
    --cursor-size: 20px;
    --bg-color: #f2f5f8;
    --dot-color: #364d6344;
    --dot-size: 2px;
    --dot-space: 30px;
}

body .custom-pointer {
    z-index: 10000000;
    position: absolute;
    left: calc(var(--cursor-size) / -2);
    width: var(--cursor-size);
    height: var(--cursor-size);
    transition: 500ms, transform 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}
body .custom-pointer .inner {
    fill: #f2f5f8;
}
body .custom-pointer .outer {
    fill: #111920;
}