#afterloader {
    opacity: 0;
    animation-delay: 4.5s;
    animation-name: fadein;
    animation-duration: 4s;
    /*-webkit-animation: fadein 12s; !* Safari, Chrome and Opera > 12.1 *!*/
    /*animation: fadein 12s;*/
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}