.social::after {
    content: "";
    display: block;
    width: 1px;
    height: 150px;
    margin: 10px 0 0 0;
    background-color: #6e6e70;
}

li a svg {
    width: 20px;
    height: 20px;
    text-align: center;
}

.social {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
}
li a {
    cursor: none;
}
.social {
    margin-top: 0;
    margin-right: 92%;
    list-style-image: initial;
    list-style-type: none;
}

.social_list {
    display: flex;
    padding: 10px 0 5px 0;
    /*padding-left: 50px;*/
}

li a svg:hover {
    transform: translateY(-3px);
}