@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');


/** {*/
/*    outline: 1px solid limegreen;*/
/*}*/

html {
    background-color: #3c393d;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}
.section-1 {
    width: 100vw;
    height: 100vh;
}
h1 {
    padding: 0;
    margin: 0;
}
#text1, #text2 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    text-align: center;
    margin-bottom: 2rem;

}

.front-text {
    font-size: 3rem;
    margin-left: 29.5rem;
    margin-top: 17rem;

}
.name {
    font-family: "Poppins", sans-serif;
    padding-top: 6rem;
}
.name-two {
    font-family: "Poppins", sans-serif;
    /*padding-top: 2rem;*/
    padding-left: 4rem;
}

#language_title_fr, #language_navbar_about_fr, #language_navbar_resume_fr, #language_navbar_projet_fr, #language_navbar_home_fr, #language_description_fr {
    display: none;
}











.tag {
    color: #6e6e70;
    position: absolute;
    left: 20rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: 'La Belle Aurore', cursive;
}


.html {
    top: 10rem;
}
.body {
    top: 13rem;
    left: 23rem;
}
.h1 {
    left: 26rem;
    top: 17rem;
}
.p_start {
    top: 39rem;
    left: 30rem;
}

.p_end {
    top: 43rem;
    left: 77.5rem;
}
.h1_end {
    left: 92rem;
    top: 26.5rem;
}
.h2 {
    top: 33rem;
    left: 30rem;
}
.h2_end {
    left: 30rem;
}


.gray-text {
    margin-left: 30rem;
    font-size: 1rem;
    letter-spacing: 4px;
    font-style: italic;
    margin-top: 5.5rem;
    display: block;
    color: #8d8d8d;
}


.typing-demo {
    width: 58ch;
    animation-delay: 4.5s;
    animation: typing 5s steps(58) 4.5s, blink .4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.html::before {
    content: "<html>";
}
.body::before {
    content: "<body>";
}
.h2::before {
    content: "<h2>";
}
.h1::before {
    content: "<h1>";
}
.h1_end::before {
    content: "</h1>";
}
.p::before {
    content: "<p>";
}

.p_end::before {
    content: "</p>";
}

.h2_end::before {
    content: "</h2>";
}
.p_start::before {
    content: "<p>";
}
.button-end::before {
    content: "</button>";
}

.html-end {
    top: 45rem;
}
.body-end {
    top: 42rem;
    left: 23rem;
}
.body-end::before {
    content: "</body>";
}
.html-end::before {
    content: "</html>";
}
#projects {
    visibility: hidden;
}
#pointer {
    visibility: hidden;
}
.sticky {
    box-sizing: initial;
    display: flex;
    position: sticky;
    padding-right: 0!important;
    top: 40px;
    width: 100%;
}

